* {
    font-family: "Roboto";
    color: white;
}

.hero {
    background-color: #1F2937;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 20px;
    padding-bottom: 100px;
}

.navigation-bar {
    display: flex;
}

.navigation-bar .logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: 1;
}

.navigation-bar .navigation {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.navigation-bar .navigation span {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content {
    margin-top: 100px;
    display: flex;
}

.hero-content div {
    flex: 1;
}

.hero-content .hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}

.hero-content .hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content .hero-image {
    background-color: hsl(0, 0%, 60%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-button {
    background-color: #3882F6;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.info-section *{
    color:#1F2937;
}

.info-section {
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
}

.info-section h2 {
    font-size: 36px;
    font-weight: bolder;
}

.info-section .image-group {
    display: flex;
    justify-content: space-around;
}

.image-item {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.image-item .image {
    width: 159px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 15px;
}

.image-item .image-text {
    margin-top: 10px;
}